<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'materialize.min.css', 'style.css' %>
    <%= yield :head %>
  </head>
  <body>
    <%= javascript_include_tag 'jquery.js', 'materialize.min.js', 'script.js' %>
    <%= render template: '/layouts/nav' %>
    <%= yield :body %>
  </body>
</html>
